<!-- Site Navigation Bar -->
<div class="row site-navigation-bar parent">

    <!-- Logo -->
    <div class="col-sm-2 col-xs-4 logo child-center-v">
        <a href="{{ site.baseurl }}/index.html#home">
            <img src="{{ site.baseurl }}/images/white-logo.png" width="32" alt="Red Canari"/>
        </a>
    </div>

    <!-- Toggle Mobile Menu -->
    <div class="col-xs-8 toggle-menu child-center-v">

        <!-- Burger -->
        <div class="navTrigger">
            <i></i><i></i><i></i>
        </div>

    </div>

    <!-- Navigation Bar -->
    <div class="col-sm-10 col-xs-12 navigation-bar child-center-v">

        <!-- Navigation Menu -->
        <nav id="navMenu" class="nav-menu">
            <ul class="menu">
                <li class="current-menu-item"><a href="/#home">Home</a></li>
                <li><a href="/#about">About</a></li>
                <li><a href="/#services">Services</a></li>
                <!--<li><a href="/#portfolio">Portfolio</a></li>-->
                <!--<li><a href="/#testimonials">Testimonials</a></li>-->
                <!--<li><a href="/blog.html">Blog</a></li>-->
                <li><a href="/#team">Team</a></li>
                <li><a href="/#contact">Contact</a></li>
                <li><a href="tel:+18777338326">(+1-877-RED-TEAM)</a></li>
            </ul>
        </nav>

    </div>


</div>
