<!-- services Section -->
<section class="site-section section-focus services-section next-section-indicator" id="services">
    <div class="container">

        <!-- Section Heading -->
        <div class="row text-center">

            <!-- Section Header -->
            <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
                <h2>{{ site.services-title }}</h2>
                <hr class="normal">
            </header>

            <!-- Section Content -->
            <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
                <p>{{ site.services-description }}</p>
            </div>

        </div>

        <!-- services -->
        {% for service in site.services %}
        {%cycle '<div class="row services">', '', ''%}


            <div class="col-md-4 col-md-push-0 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1 service">
                <div class="icon parent">
                    <div class="circle parent">
                        <div class="circle child-center">
                            <i class="{{ service.icon }} child-center"></i>
                        </div>
                    </div>
                </div>
                <div class="content text-center">
                    <h3>{{ service.title }}</h3>
                    <p>{{ service.description }}</p>
                </div>
            </div>


        {%cycle '', '', '</div>'%}
        {% endfor %}

    </div>
</section>
